<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sachinvarma.easylocation">

  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <application
    >

    <activity
        android:theme="@style/Theme.Transparent"
        android:name=".EasyLocation"/>
  </application>
</manifest>
